<div>
  <article>
    <% @questions.each do |question| %>
    <form method="post" action='/'>
      <button type="submit" name="submit"></button>
    </form>
      <h2><a href="/questions/<%= question.id %>"><%= question.question_text %></a></h2>
      <ul>
        <li>by: <%= question.poster.username %></li>

      </ul>
    <% end %>
  </article>
</div>
<div>
  <% if logged_in? %>
  <button id="new_question_button" class="new-question-button button center">New Question</button>
        <form action="/questions/new" method="post" id="new_question_form">
          <label for="question_text">Question:<br></label>
          <textarea id="question_text" name="question_text"></textarea><br>
          <input type="submit" class="button" value="Submit Question"></input>
        </form>
  <% end %>
</div>
