<div>
Sort by: <a href="/?sort=chronological">Chronological</a>, <a href="/?sort=recent">Most Recent</a>, <a href="/?sort=votes">Highest Voted</a>, <a href="/?sort=trending">Trending</a>
</div>

<div>
  <article>
    <% @questions.each do |question| %>
        <%= erb :'questions/_display_question', locals: {question: question} %>
    <% end %>
  </article>
</div>
<div>
  <% if current_user %>
  <button id="new_question_button" class="new-question-button button center">New Question</button>
      <form action="/questions/new" method="post" id="new_question_form">
        <label for="question_text">Question:<br></label>
        <textarea id="question_text" name="question_text"></textarea><br>
        <input type="submit" class="button" value="Submit Question"></input>
      </form>
  <% end %>
</div>
