<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/jquery.upvote.css">


  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="/js/application.js"></script>

  <title class="title">Stack Overflow</title>

</head>
<body>
  <header>
    <h1 class="title">Stack Overflow</h1>
    <div>
      <nav>
        <ul class ="navigation-list">
          <% if logged_in? %>
          <li class ="navigation"><a href="/users/<%= current_user.id %>">Hello, <%= current_user.username %></a></li>
          <li class="navigation"><form method="POST" action="/sessions">
              <input type="hidden" name="_method" value="DELETE" />
              <input id="logout"  type="submit" class="button" value="Log Out" />
            </form>
          </li>
          <li class="navigation"><a href="/">Home</a></li>
          <% else %>
            <li class="navigation"><a href="/">Home</a></li>
            <li class= "navigation"><a href='/users/new'>Register</a></li>
            <li class= "navigation"><a href="/sessions/new">Log In</a></li>
            <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <%= yield %>
</body>
</html>
